
.center {
    margin: auto;
    width: 66%;
    border: 0px solid #73AD21;
    padding: 10px;}
form{
    background-color: slateblue; color: white; padding-left: 1mm; padding-top: 1mm;
}
button{
        
}
h1{
    color: slateblue;text-decoration: underline; 
}
img{
    padding-left: 7rem; width: 70%;
}
.F1{
    margin-left: 6.7rem;
}
.H1{
    margin-left: 8.5rem;
}
.O1{
    margin-left: 8.5rem;
}
.country{
    margin-left: 8.3rem;
}
.QUALIFICATION{
    padding-left: 5rem;
}
.new{
    padding-left: 5rem;
}
.Ap1{
    margin-left: 7rem;
}
.S1{
    margin-left: 10.1rem;
}
.P1{
    margin-left: 8.7rem;
}
.C1{
    margin-left: 10.7rem;
}
.A1{
    margin-left: 8.2rem;
}
.G1{
    margin-left: 9rem;
}
.M1{
    margin-left: 4.5rem;
}
.E1{
    margin-left: 9.5rem;
}
.D1{
    margin-left: 5.4rem;
}
.L1{
    margin-left: 7rem;
}
